:root{
    --bg:#0f172a;
    --card-bg: #1e293b;
    --text: #e2e8f0;
    --accent: #7c5cff;
    --muted: #94a3b8;
    --glass: rgba(255,255,255,0.25);
}

body{
    background: linear-gradient(180deg, var(--bg), #020617);
    color:var(--text);
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-items: center;
    min-height: 100vh;
}

.container{
    background: linear-gradient(180deg, var(--card-bg), var(--glass));
    border: 1px solid rgba(255,255,255,0.2);
    border-radius: 20px;
    padding: 32px;
    width: 400px;
    box-shadow: 0 10px 30px rgba(0, 0, 0,0.4);
    backdrop-filter: blur(6px);
    text-align: center;
    transition: all 0.3s ease;
}

.container:hover{
    transform: translateY(-3px);
    box-shadow: 0 14px 40px rgba(0,0,0,0.6);
    border-color: var(-accent);
}

 .container h1 {
      font-size: 24px;
      margin-bottom: 8px;
      color: var(--accent);                    /* Accent color for title */
    }

    /* ---------- 6. SUBTEXT ---------- */
    .container p {
      color: var(--muted);
      font-size: 15px;
      line-height: 1.6;
      margin-bottom: 24px;
    }

    .btn {
      display: inline-flex;
      background: linear-gradient(90deg, var(--accent), #22d3ee);
      color: white;
      padding: 10px 18px;
      border: none;
      border-radius: 10px;
      font-weight: 600;
      cursor: pointer;
      transition: all 0.3s ease;
      box-shadow: 0 6px 18px rgba(124,92,255,0.25);
    }

    .btn:hover {
        padding: 12px 20px;
        background: linear-gradient(90deg, var(--accent), #12c8c5b4);
      /* transform: scale(1.05);
      box-shadow: 0 10px 25px rgba(124,92,255,0.4); */
    }